.ServiceField {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 16px;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);
}

.service-field-item {
  list-style: none;
  margin-bottom: 14px;
}
.service-field-category {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #284c80;
}
